@import '../../common/colors.scss';

.card-top {
  height: 290px;
  width: 200;
  text-align: center;

  img {
    width: 100%;
    height: 90%;
  }
  background: $secondary-color;
  cursor: pointer;
  transition: all 0.3s;

  &:hover {
    transform: scale(1.05);
    transition: all 0.4s;
  }
  h4 {
    color: $font-primary;
    padding: 0;
    margin: 0;
  }
}

.cardTitle {
  margin-top: -7px;
  height: 45px;
  width: auto;
  background: $secondary-color;
  display: flex;
  justify-content: center;
  align-items: center;
}

h4 {
  color: $font-primary;
  padding: 0;
  margin: 0;
}
